html,
body {
  font-family: $main-font, sans-serif;
  font-size: $standart-font-size;
  background-color: $black;
  color: $seashel;
}

h2 {
  font-size: $large-font;
  font-weight: $bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

h3 {
  font-size: $middle-font-size;
  font-weight: $bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

h4,
figcaption {
  font-size: $standart-font-size;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 1 auto;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  position: fixed;
  min-width: 100%;
  height: 69px;
  top: 0;
  z-index: 1;
  background-color: $black;
  border-bottom: 1px solid $seashel;
}

.header-items {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo > img {
  height: 50px;
}

.navigation-item {
  display: flex;
  height: 100%;
  align-items: center;
}

.navigation-item > li {
  margin-left: 1em;
  text-decoration: underline;
}

.main-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-img > img {
  width: 1200px;
  height: 700px;
}

.description-img {
  position: absolute;
  margin-top: 280px;
  min-height: 100px;
  width: 100%;
  background-color: $black;
}

.description-img > h4 {
  padding-bottom: 10px;
}

.tea {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding-top: 70px;
  padding-bottom: 50px;
}

.tea-img {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.tea-img > figure > img {
  width: 300px;
}

.locations {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.locations-img > img {
  height: 100%;
  padding: 0px 50px;
}

.title-locations {
  position: absolute;
  width: 100%;
  height: 280px;
  top: 50%;
  margin-top: -25%;
  left: 50%;
  margin-left: -50%;
  margin-bottom: 10px;
}

.locations-description {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 280px;
  top: 50%;
  margin-top: -20%;
  left: 50%;
  margin-left: -50%;
}

.description-item {
  background: $black;
  flex: 0 1 300px;
  height: 100%;
}

.description-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-right: 40px;
  margin-bottom: 20px;
}

.description-item > p {
  margin-bottom: 10px;
}

.description-item:last-child {
  margin-right: 0;
}

.cosy {
  height: 200px;
  position: absolute;
  width: 100%;
  top: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $black;
}

.footer {
  margin-top: 100px;
  margin-bottom: 20px;
}
